<style>

@import url(http://fonts.googleapis.com/css?family=Prosto+One);

@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: #ADFFD5;
  }
  50% {
    background-color: #C4DDFF;
  }
  100% {
    transform: scale(1);
    background-color: #D9C09E;
  }
}
body {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  color:black;
}
</style>
<div class="container">
  <div class="jumbotron text-center jumbotron-fluid">
    <h1 style="color:white;">About Chat Emoji</h1>
    <h4 style="color:white">
    Imagine you are having the best or worst day of your life, and there is no one around to talk to. Enter: Chat Emoji to solve all your celebrations or woes. Chat Emoji is your friend for life and centers around the idea that no one should ever feel alone in life; you have a friend in me - Chat Emoji! 
    </h4>
    <br>
    <h4 style="color:white">
    This app was designed by Zach Mason, Jimmy Kim, Boet Waldbjorn, and Jeremy Wallace to assist users to find and live chat with like-minded patrons with similiar states of mind. The chat consists of four emotions: Happy, Sad, Angry, and Calm; users can share their emotions with each other via chat and emoticons. Users can also update their contact info and destroy their chat on log out. Our aim is to solve world loneliness.
    </h4>
    <br>
  </div>
</div>
<div class="container">
  <div class="jumbotron text-center jumbotron-fluid">
    <h1 style="color:white;">The Developers</h1>
  </div>
</div>
<br>
<div class="container">
    <div class="jumbotron text-center jumbotron-fluid">
      <h1 class="display-3">Jimmy Kim</h1>
        <img class="img-reponsive img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAc5AAAAJDgxYjEyODI0LTAzYWUtNGM5Zi04M2FlLWQzYTI5NTlkYTg4Nw.jpg">
          <p class="m-y-2" style="color:white;">I'm a web developer based out of Seattle, Washington. My focus is the MEAN stack. Check out my <a href="https://github.com/teamopower">Git Hub.</a></p>
    </div>
</div>

<div class="container">
    <div class="jumbotron text-center jumbotron-fluid">
      <h1 class="display-3">Zach Mason</h1>
        <img class="img-reponsive img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAd4AAAAJGEzNjIzMDg2LTU1NTAtNGIwYS1hZDdmLWQ0YjA4Y2VlOThhNw.jpg">
          <p class="m-y-2" style="color:white;">I'm a full-stack web developer who recently pivoted from teaching high school history. I am project-oriented and specialize in innovation, communication, and bringing unique perspectives to the table. When I'm not coding, I'm producing music, traveling, and spending time with my dog and wife. Check out my <a href="https://github.com/zaturnvalley">Git Hub.</a></p>
    </div>
</div>

<div class="container">
    <div class="jumbotron text-center jumbotron-fluid">
      <h1 class="display-3">Boet Waldbjorn</h1>
        <img class="img-reponsive img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjhAAAAJDVmNTg1MWNkLTAwMTItNGQ1Ni1hZThiLTBhMjFmODBkYWEzYg.jpg">
          <p class="m-y-2" style="color:white;">I am a front-leaning, full-stack developer with a strong interest in code as design and IoT. A strong background in printmaking and theater design has given me an eye for how things work together and a mind for how they should work together. Check out my <a href="https://github.com/boetw">Git Hub.</a></p>
    </div>
</div>

<div class="container">
    <div class="jumbotron text-center jumbotron-fluid">
      <h1 class="display-3">Jeremy Wallace</h1>
        <img class="img-reponsive img-circle" src="https://avatars1.githubusercontent.com/u/17936404?v=3&s=460">
          <p class="m-y-2" style="color:white;">Passion, career and life drives full stack development for me as a team player, trained at General Assembly in html, css, javascript, git and backend programming. Previous intern to employment position with Esperas developing applications to serve homelessness in Seatlle WA. Check out my <a href="https://github.com/jeremyduanewallace">Git Hub.</a></p>
    </div>
</div>
