
h3{
text-align: center;
margin: 0 auto;
font-family: "Futura";
font-size: 72px;
}
.happy{
background-color: #FFD254;
}
.sad{
background-color: #6184FF;
}
.angry{
background-color: #E8587C;
}
.calm{
background-color: #8EE89B;
}
.fill{
height: 50%;
opacity: 0.6;
filter: alpha(opacity=60);
position: inline;
}
.fill:hover{
opacity: 0.8;
filter: alpha(opacity=80);
}
.image{
height: 500px;
filter: alpha(opacity=50);
display: block;
margin: 0 auto;
}

.float{
z-index: 1;
height: 0px;
opacity: 1;
filter: alpha(opacity=100);
position: absolute;
top: 0%;
text-align: center;
width: 100%;
font-size: 48px;
}

.float2{
z-index: 1;
height: 0px;
opacity: 1;
filter: alpha(opacity=100);
position: absolute;
top: 51%;
left: 35%;
font-size: 48px;
}

.main{
  z-index: 0;
}
.navigation{
  width:105;
background: gray;
color: #FFFFFF;
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #000000;
}
.login-face{
  width: 15%;
  margin: 0 auto;
}
span{
  width: 100%
}
